<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Characters</title>
</head>
<body>
    <h1>Your Characters</h1>
    {% if user_characters %}
        <ul>
            {% for character in user_characters %}
                <li>
                    <a href="{% url 'characters:character_detail' character.name %}">{{ character.name }}</a>
                    (Homeworld: {{ character.character_homeworld }}, Background: {{ character.character_class }}, Class: {{ character.character_class }}, Total Experience: {{ character.experience_total }})
                    <form action="{% url 'characters:delete_character' character_name=character.name %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this character?');">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not created any characters yet.</p>
    {% endif %}

    <p><a href="{% url 'characters:create_character' %}">Create a New Character</a></p>

    <h1>Your Campaigns</h1>

    {% if all_campaigns_with_user %}
        <ul>
            {% for campaign in all_campaigns_with_user %}
                <li>
                    <strong>
                        <a href="{% url 'characters:campaign_detail' campaign.name %}">{{ campaign.name }}</a>
                    </strong>
                    {% if campaign in user_is_master %}
                        <span>(You are the campaign master)</span>
                    {% endif %}
                    : {{ campaign.description }}
                    
                    {% if campaign in user_is_master %}
                        <form action="{% url 'characters:delete_campaign' campaign_name=campaign.name %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this campaign?');">Delete</button>
                        </form>
                    {% endif %}
                    
                    <ul>
                        {% for character in campaign.characters.all %}
                            {% if character.player == request.user or campaign not in user_is_master %}
                                <li>
                                    <a href="{% url 'characters:character_detail' character.name %}">{{ character.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No campaigns to display.</p>
    {% endif %}
    

    <p><a href="{% url 'characters:create_campaign' %}">Create a New Campaign</a></p>

    <p></p><a href="{% url 'characters:campaign_list' %}">Browse Campaigns</a></p>


</body>
</html>
